name: Analysing operational characteristics for different JSON-based static data load and reload approaches
on:
  - push
  - workflow_dispatch
  
jobs:
  run_analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - run: |
          python -m venv venv
          source venv/bin/activate

          pip install -r requirements.txt

          python generate_dataset.py \
            --num_samples 1000000 \
            --num_recommendations 20 \
            --product_pool_size 10000

          ls -lh uncommitted/

      - uses: actions/upload-artifact@v4
        with:
          name: data_sample
          path: |
            uncommitted/recommendations_dataset.json
            uncommitted/recommendations_dataset.jsonl
            uncommitted/recommendations_dataset.pkl

  measure_performance:
    needs: run_analysis
    runs-on: ubuntu-slim # 5GB RAM
    strategy:
      matrix:
        script:
          - load_json.py
          - load_jsonl.py
          - load_pandas_json.py
          - load_pandas_jsonl.py
          - load_polars_json.py
          - load_polars_jsonl.py
          - load_interning_json.py
          - load_interning_jsonl.py
          - load_interned_pickle.py
          
    steps:
      - uses: actions/checkout@v3

      - uses: actions/download-artifact@v4
        with:
          name: data_sample
          path: uncommitted/

      - name: Run Analysis with vmstat monitoring
        continue-on-error: true
        run: |
          python -m venv venv
          source venv/bin/activate
          
          pip install -r requirements.txt

          # Start vmstat in the background
          # -n suppresses repeating headers
          # timestamps, megabytes, don't repeat header, 1 is the delay in seconds
          vmstat -t -S M -n 1 > vmstat_${{ matrix.script }}.log &
          VMSTAT_PID=$!
          echo "vmstat running with PID: $VMSTAT_PID"

          time python ${{ matrix.script }} || true

          # Stop vmstat
          kill $VMSTAT_PID

      - uses: actions/upload-artifact@v4
        with:
          name: vmstat-results-${{ matrix.script }}
          path: vmstat_${{ matrix.script }}.log

  generate_summary:
    needs: measure_performance
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/download-artifact@v4
        with:
          pattern: vmstat-results-*
          merge-multiple: true
          path: performance_data/

      - name: Generate Jupyter Notebook Summary
        run: |
          python -m venv venv
          source venv/bin/activate

          pip install -r requirements.txt

          ls -lart performance_data/

      - uses: actions/upload-artifact@v4
        with:
          name: summary
          path: performance_data
